### Importing Libraries

In [2]:
import pandas as pd

### Loading Dataset

In [3]:
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

In [4]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [5]:
df.tail()

     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

### Train-Test Data Splitting

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(df[['5.1', '3.5', '1.4', '0.2']], df['Iris-setosa'], test_size = 0.2, shuffle = True)

In [8]:
X_train

     5.1  3.5  1.4  0.2
22   5.1  3.3  1.7  0.5
37   4.4  3.0  1.3  0.2
8    4.9  3.1  1.5  0.1
27   5.2  3.4  1.4  0.2
1    4.7  3.2  1.3  0.2
..   ...  ...  ...  ...
68   5.6  2.5  3.9  1.1
122  6.3  2.7  4.9  1.8
33   4.9  3.1  1.5  0.1
99   6.3  3.3  6.0  2.5
13   5.8  4.0  1.2  0.2

[119 rows x 4 columns]

In [9]:
y_train

22         Iris-setosa
37         Iris-setosa
8          Iris-setosa
27         Iris-setosa
1          Iris-setosa
            ...
68     Iris-versicolor
122     Iris-virginica
33         Iris-setosa
99      Iris-virginica
13         Iris-setosa
Name: Iris-setosa, Length: 119, dtype: object

### Model Building, Training and Evaluation

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
model = LogisticRegression()

In [12]:
model.fit(X_train, y_train)

LogisticRegression()

In [13]:
model.score(X_test, y_test)

1.0

In [14]:
model.predict(X_test)

array(['Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [15]:
y_test.head()

70    Iris-versicolor
0         Iris-setosa
11        Iris-setosa
93    Iris-versicolor
65    Iris-versicolor
Name: Iris-setosa, dtype: object

### Model Predictions

In [23]:
model.predict([[4.8, 3.0, 1.4, 0.3]])

C:\Users\prath\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['Iris-setosa'], dtype=object)

In [18]:
df.iloc[44]

5.1                    4.8
3.5                    3.0
1.4                    1.4
0.2                    0.3
Iris-setosa    Iris-setosa
Name: 44, dtype: object

In [20]:
df.iloc[114]

5.1                       6.4
3.5                       3.2
1.4                       5.3
0.2                       2.3
Iris-setosa    Iris-virginica
Name: 114, dtype: object

In [22]:
model.predict([[6.4, 3.2, 5.3, 2.3]])

C:\Users\prath\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['Iris-virginica'], dtype=object)